
.cart-wrapper {
    border: 1px solid red;
    width: 55px;
    height: 55px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-wrapper .cart-icon {
    border: 1px solid red;
    width: 50px;
    height: 35px;
}

.cart-wrapper .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 20px;
    
    
}