.header{
    border: 1px solid red;
    width: 100%;
    /* max-width: 40em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options{
    border: 1px solid green;
    width: 100%;
    max-width: 20em;
    display: flex;
    justify-content: flex-end;
    
}
.option{
    border: 1px solid;
    text-decoration: none;
    color: black;
    margin-right: 1em;
    padding: 10px 15px;
}